
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<!-- Hotjar Tracking Code for My site -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1759777,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<style>
.fixed-feedback {
	position: fixed;
	top: 25%;
	right: -300px;
	width: 300px;
	height: auto;
	z-index: 299;
	background-color: #EEE;
	-webkit-transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-backface-visibility: hidden;
}

.fixed-feedback .fixed-feedback-button {
	position: absolute;
	left: -44px;
	color: #333;
	writing-mode: vertical-rl;
	font-size: 1rem;
	background-color: #EEE;
	padding: 15px 10px;
	cursor: pointer;
}

.fixed-feedback .fixed-feedback-form {
	opacity: 0;
	padding: 25px 30px;
	transition: opacity .3s .15s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.fixed-feedback.fixed-feedback-open { right: 0; }
.fixed-feedback.fixed-feedback-open .fixed-feedback-form { opacity: 1; }

#feedback-rating,
.feedback-rating-loader {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.feedback-rating-loader { background: transparent; }

.feedback-rating-loader > div { background-color: #999;  }

.feedback-rating-loader,
.feedback-rating-processing #feedback-rating,
#feedback-rating-submitted,
.feedback-rating-complete .feedback-rating-loader {
	display: none;
	opacity: 0;
}

.feedback-rating-processing .feedback-rating-loader,
.feedback-rating-complete #feedback-rating {
	display: block;
	opacity: 1;
}
</style>
<link rel="icon" href="/coworking/images/rbk.png">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	{% block title %}  {% endblock %}
	 {% block stylesheets %}{% endblock %}

	<!-- Stylesheets
	============================================= -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/bootstrap.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/style.css')}}" type="text/css" />
	
	<link rel="stylesheet" href="/coworking/conference/conference.css" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/dark.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/medical-icons.css')}}" type="text/css" />
		<link rel="stylesheet" href="{{ asset ('/css/font-icons.css')}}" type="text/css" />
	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="{{asset('/css/bs-switches.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ asset ('/css/font-icons.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/animate.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/magnific-popup.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ asset ('/css/responsive.css')}}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{asset('/css/custom.css')}}" type="text/css" />


	<!-- Workspace Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/articles.css" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/colors.php?color=267DF4')}}" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="{{ asset ('/coworking/css/fonts.css')}}" type="text/css" /> <!-- Theme Font -->
	<link rel="stylesheet" href="{{ asset ('/coworking/coworking.css')}}" type="text/css" /> <!-- Theme CSS -->
	<!-- / -->
	<!-- Document Title
	============================================= -->
	<title>RBK Course : {{articles.slug}}</title>
		<style>
		ul.icons-list { list-style: none; }

		ul.icons-list li {
			float: left;
			width: 25%;
			margin-bottom: 20px;
			font-size: 16px;
			padding: 0 15px;
		}

		ul.icons-list li i {
			position: relative;
			top: 5px;
			margin-right: 20px;
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			font-size: 24px;
		}

		.device-lg ul.icons-list li { width: 33.333%; }

		.device-md ul.icons-list li,
		.device-sm ul.icons-list li { width: 50%; }

		.device-xs ul.icons-list li { width: 100%; }

	</style>

</head>
        

<body class="stretched">


		<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="clearfix static-sticky border-bottom-0">

			<div id="header-wrap">

				<div class="container clearfix">	

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index" class="standard-logo" data-sticky-logo="/coworking/images/rbk.png"><img src="/coworking/images/rbk.png" alt="Canvas Logo" height="20" width="120"></a>
						<a href="index" class="retina-logo" data-sticky-logo="/coworking/images/rbk.png"><img src="/coworking/images/rbk.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->
					

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">

						<ul>
							<li class="current"><a href="index"><div>Home</div></a>
							
								<ul>
								<li><a href="/Aboutus"><div>About Us</div></a></li>
												<li><a href="/contactus"><div>ContactUs</div></a></li>
									<li><a href="/Team"><div>Team</div></a> </li>
									
									
								</ul>
							</li>
								
							<li class="mega-menu"><a href="shop"><div>Courses</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a href="#"><div>Categories</div></a>
											<ul>
												<li><a href="/Aboutus"><div>About Us</div></a></li>
												<li><a href="/contactus"><div>ContactUs</div></a></li>
												<li><a href="about-me.html"><div>About Me</div></a></li>
												<li><a href="team.html"><div>Team Members</div></a></li>
												<li><a href="jobs.html"><div>Careers</div></a></li>
												<li><a href="side-navigation.html"><div>Side Navigation</div></a></li>
												<li><a href="page-submenu.html"><div>Page Submenu</div></a></li>
												<li><a href="sitemap.html"><div>Sitemap</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a href="#"><div>LiveShows</div></a>
											<ul>
												<li><a href="services.html"><div>Services - Layout 1</div></a></li>
												<li><a href="services-2.html"><div>Services - Layout 2</div></a></li>
												<li><a href="services-3.html"><div>Services - Layout 3</div></a></li>
												<li><a href="faqs.html"><div>FAQs - Layout 1</div></a></li>
												<li><a href="faqs-2.html"><div>FAQs - Layout 2</div></a></li>
												<li><a href="faqs-3.html"><div>FAQs - Layout 3</div></a></li>
												<li><a href="faqs-4.html"><div>FAQs - Layout 4</div></a></li>
												<li><a href="maintenance.html"><div>Maintenance Page</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							<li class="mega-menu"><a href="/Events"><div>Events</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title"><a href="#"><div>Grids</div></a>
											<ul>
												<li><a href="Event"><div>Register for an event</div></a></li>
												<li><a href="portfolio-2.html"><div>2 Columns</div></a></li>
												<li><a href="portfolio-3.html"><div>3 Columns</div></a></li>
												<li><a href="portfolio.html"><div>4 Columns</div></a></li>
												<li><a href="portfolio-5.html"><div>5 Columns</div></a></li>
												<li><a href="portfolio-6.html"><div>6 Columns</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							
							<li><a href="/shop"><div>Shop</div></a>
								<ul>
									<li><a href="shop"><div>4 Columns</div></a></li>
									<li><a href="shop-3.html"><div>3 Columns</div></a>
										<ul>
											<li><a href="shop-3.html"><div>Full Width</div></a></li>
											<li><a href="shop-3-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-3-left-sidebar.html"><div>Left Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-2.html"><div>2 Columns</div></a>
										<ul>
											<li><a href="shop-2-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-2-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-2-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-1.html"><div>1 Columns</div></a>
										<ul>
											<li><a href="shop-1.html"><div>Full Width</div></a></li>
											<li><a href="shop-1-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-1-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-1-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-category-parallax.html"><div>Categories - Parallax</div></a></li>
									<li><a href="shop-combination-filter.html"><div>Combination Filter</div></a></li>
									<li><a href="shop-single.html"><div>Single Product</div></a>
										<ul>
											<li><a href="shop-single.html"><div>Full Width</div></a></li>
											<li><a href="shop-single-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-single-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="cart.html"><div>Cart</div></a></li>
									<li><a href="checkout.html"><div>Checkout</div></a></li>
								</ul>
							</li>
							
							<li><a href="#">EN</a>
									<ul>
										<li><a href="#"><img src="/coworking/images/fr.png" width ="30" height ="20" alt="French"> FR</a></li>
										<li><a href="#"><img src="/coworking/images/ar.png" width ="30" height ="20" alt="Arabe"> AR</a></li>
										<li><a href="#"><img src="/coworking/images/eng.png" width ="30" height ="20" alt="English"> EN</a></li>
									</ul>
								</li>
								</li>
								
							{% if is_granted('ROLE_ADMIN')  %}
								<li class="mega-menu"><a href="/admin"><div>ADMIN</div></a> </li>
								<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
								<li><a href="mega-menu"><div>Students Lists </div></a>
								<ul>
								{% for art in articles %}
									<li><a href="{{ path('list', {'slug': art.slug })}}"><div>{{art.slug }} Students</div></a></li>
									{% endfor %}
									
									
									
									
								</ul>
							</li>
							

							{% endif %}
{% if is_granted('ROLE_TEACHER') %} 

								
								<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
								<li><a href="mega-menu"><div>Students Lists </div></a>
								<ul>
								{% for art in articles %}
									<li><a href="{{ path('list', {'slug': art.slug })}}"><div>{{art.slug }} Students</div></a></li>
									{% endfor %}
									
									
									
									
								</ul>
							</li>
{% endif %}
							{% if is_granted('ROLE_ABONNE') %}
							<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
							
{% endif %}
	
						</ul>

					<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>{{ totalq }}</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
								
								<div class="top-cart-items">
								 {% for item in items %}
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="{{ asset("uploads/avatars/" ~ item.article.thumbnail) }}" alt="Blue Round-Neck Tshirt" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">{{ item.article.slug}} Training</a>
											<span class="top-cart-item-price">{{ item.article.price }}</span>
											<span class="top-cart-item-quantity">x {{ item.quantity }}</span>
										</div>
									</div>
									{% endfor %}
									</div>
								<div class="top-cart-action clearfix">
									<span class="fleft top-checkout-price">{{ total }} DT</span>
									<a href="/cart"><button class="button button-3d button-small nomargin fright" href="Cart">View Cart</button></a>
								</div>
						
								
							</div>
						</div>	
						<!-- #top-cart end --> 
					

									

							<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form >
								<input type="text" id="search" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->
						
						
<div class="modal1 mfp-hide" id="modal-register">
			<div class="card divcenter" style="max-width: 540px;">
				<div class="card-header py-3 nobg center">
					<h3 class="mb-0 t400">Welcome to RBK! </h3>
				</div>
				<div class="card-body divcenter py-5" style="max-width: 70%;">

					<a href="{{ path('connect_facebook_start') }}" class="button button-large btn-block si-colored si-facebook nott t400 ls0 center nomargin"><i class="icon-facebook-sign"></i> Log in with Facebook</a>
					<a href="#" class="button button-large btn-block si-colored si-gmail nott t400 ls0 center nomargin"><i class="icon-google-plus-sign"></i> Log in with Gmail</a>
					
					
					

					<div class="divider divider-center"><span class="position-relative" style="top: -2px">OR</span></div>

					<form id="login-form" name="login-form" class="nobottommargin row" action="{{ path('app_login')}}" method="post">
					

						<div class="col-12">
							<input type="text" id="login-form-username" name="_username" value="" class="form-control not-dark" placeholder="Username" />
						</div>

						<div class="col-12 mt-4">
							<input type="password" id="login-form-password" name="_password" value="" class="form-control not-dark" placeholder="Password" />
						</div>

						<div class="col-12">
							<a href="#" class="fright text-dark t300 mt-2">Forgot Password?</a>
						</div>

						<div class="col-12 mt-4">
				
			
				
				
				<button class="button btn-block nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						 
				
						
						</div>
					</form>
				</div>
				<div class="card-footer py-4 center">
					<p class="mb-0">Don't have an account? <a href="register"><u>Sign up</u></a></p>
				</div>
			</div>
		</div>
			{% if app.user %}
		
					
					<ul class="pr-0 header-button">
							<li>
								<a href="#section-tickets" class="button button-effect" data-scrollto="#section-tickets">{{app.user.getName() }}</a>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item tleft" href="profile">Profile</a>
							
							<a class="dropdown-item tleft" href="/profil">Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item tleft" href="logout">Logout <i class="icon-signout"></i></a>
						</ul>

							</li>
						</ul>
{% else %}
	<ul class="pr-0 header-button">
							<li>
							<a href="#modal-register" data-lightbox="inline" ><i class="icon-line2-user mr-1 position-relative" style="top: 1px;"></i><span class="d-none d-sm-inline-block font-primary t500">Login</span></a>
							
						
						</ul>

							</li>
						</ul>
	
		

	

						{% endif %}
					
						</div>

					</nav><!-- #primary-menu end -->


				</div>

			</div>


		</header><!-- #header end -->

<!-- Content============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Portfolio Single Image
					============================================= -->
					<div class="col_two_third portfolio-single-image nobottommargin">
						<a href="#"><img src="{{ asset("uploads/avatars/" ~ articles.thumbnail) }}" alt="" height="600" width="200"></a>
					</div><!-- .portfolio-single-image end -->

					<!-- Portfolio Single Content
					============================================= -->
					<div class="col_one_third portfolio-single-content col_last nobottommargin">

						<!-- Portfolio Single - Description
						============================================= -->
						<div class="fancy-title title-bottom-border">
						{% if articles.price ==0 %}
							<h2>Movie Infos: {{articles.slug}}<font color="blue"> <br> ~Free Course~ </font></h2>
							
						</div>
						{{ articles.Description }}
						<!-- Portfolio Single - Description End -->

						<div class="line"></div>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') or is_granted('ROLE_STUDENT') %}
						
						<!-- Portfolio Single - Meta
						============================================= -->
						<ul class="portfolio-meta bottommargin">
							<li><span><i class="icon-user"></i>Created by:</span> {{ articles.author }}</li>
							<li><span><i class="icon-calendar3"></i>Released:</span> {{ articles.updatedat|date("m/d/Y") }}  </li>
					
							<a href="{{ path('video_page', {'slug': articles.slug })}}" ><li><span><i class="icon-line-video"></i> Videos</span> </li></a>
							<a href="{{ path('Live_page', {'slug': articles.slug })}}" ><li><span><i class="icon-video1"></i> LiveStreams </span> </li></a>

						</ul>
						{% endif %}
						{% endif %}
						{% if articles.price !=0 %}
						<h2>Movie Infos: {{articles.slug}}</h2>
							
						</div>
						{{ articles.Description }}
						<!-- Portfolio Single - Description End -->

						<div class="line"></div>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') or is_granted('ROLE_STUDENT') %}
						
						<!-- Portfolio Single - Meta
						============================================= -->
						<ul class="portfolio-meta bottommargin">
							<li><span><i class="icon-user"></i>Created by:</span> {{ articles.author }}</li>
							<li><span><i class="icon-calendar3"></i>Released:</span> {{ articles.updatedat|date("m/d/Y") }}  </li>
							<li><span><i class="icon-shopping-cart icon-large"></i> Price:</span> {{ articles.price }} DT</li>
							<a href="{{ path('video_page', {'slug': articles.slug })}}" ><li><span><i class="icon-line-video"></i> Videos</span> </li></a>
							<a href="{{ path('Live_page', {'slug': articles.slug })}}" ><li><span><i class="icon-video1"></i> LiveStreams </span> </li></a>

						</ul>
					
						
					{% endif %}
						{% endif %}
						

						<!-- Portfolio Single - Share
						============================================= -->
						<div class="si-share clearfix">
							<span>Share:</span>
							<div>
								<a href="#" class="social-icon si-borderless si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-pinterest">
									<i class="icon-pinterest"></i>
									<i class="icon-pinterest"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-rss">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>
								<a href="#" class="social-icon si-borderless si-email3">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>
							</div>
						</div>
						<!-- Portfolio Single - Share End -->

					</div><!-- .portfolio-single-content end -->

					<div class="clear"></div>

					<div class="divider divider-center"><i class="icon-circle"></i></div>

					<!-- Related Portfolio Items
					============================================= -->
					<h4>Related Courses:</h4>
					
					

					<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-nav="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-xl="4">
{% for art in list %}
{% if (art.slug!=slug) %}
						<div class="oc-item">
							<div class="iportfolio">
								<div class="portfolio-image">
									<a href="{{ path('article_show', {'slug': art.slug })}}">
									
										<img src="{{ asset("uploads/avatars/" ~ art.thumbnail) }}" style="width:300px;height:250px;">
									</a>
									<div class="portfolio-overlay">
										<a  class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
										<a href="{{ path('article_show', {'slug': art.slug })}}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{{ path('article_show', {'slug': art.slug })}}">{{ art.slug}} Training</a></h3>
									<span><a>{{art.category}}</a></span>
								</div>
							</div>
						</div>
						{% endif %}
						{% endfor %}
						

					</div><!-- .portfolio-carousel end -->


				</div><br> <br> <br> <br> <br> <br> 
				<br> <br> <br> 
					<div class="col">
						<div class="card">
							<div class="card-body">
						
							<div class="clear"></div>
							<br>
			                        <!-- Comments
									============================================= -->
									<div id="comments" class="clearfix">

										<h4 id="comments-title">Reviews</h4>

										<!-- Comments List
										============================================= -->
										<ol class="commentlist clearfix">
										{% for comment in articles.comments %}
										

											<li class="comment even thread-even depth-1" id="li-comment-1">

												<div id="comment-1" class="comment-wrap clearfix">

													<div class="comment-meta">

														<div class="comment-author vcard">

															<span class="comment-avatar clearfix">
															<img alt='' src='{{ asset("uploads/avatars/" ~ comment.author.avatar) }}' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

														</div>

													</div>
													

													<div class="comment-content clearfix">
{% if 'ROLE_ADMIN' in comment.author.roles %}
								
							
														<div class="comment-author"><span><a href="#" title="Permalink to this comment">{{ comment.author.name }} <small><font color="red" > ~ADMIN~ </font></small></a></span>
														
															<small class="comment-ratings text-muted mt-2">
															{% for i in 0..4 %}
															{% if i<comment.rating %}
															
															<i class="icon-star3"></i>
															{% else %}
															<i class="icon-star-empty"></i>
															{% endif %}
															{% endfor %}
															 </small></div>

														<p>{{comment.content }}</p>

														<a class='comment-reply-link' href=''><i class="icon-reply"></i></a>

													</div>

													<div class="clear"></div>

												</div>
												{% elseif 'ROLE_TEACHER' in comment.author.roles %}
												<div class="comment-author"><span><a href="#" title="Permalink to this comment">{{ comment.author.name }} <small><font color="blue" > ~TEACHER~ </font></small></a></span>
														
															<small class="comment-ratings text-muted mt-2">
															{% for i in 0..4 %}
															{% if i<comment.rating %}
															
															<i class="icon-star3"></i>
															{% else %}
															<i class="icon-star-empty"></i>
															{% endif %}
															{% endfor %}
															 </small></div>

														<p>{{comment.content }}</p>

														<a class='comment-reply-link' href=''><i class="icon-reply"></i></a>

													</div>

													<div class="clear"></div>
													{% else %}
													<div class="comment-author"><span><a href="#" title="Permalink to this comment">{{ comment.author.name }} </a></span>
														
															<small class="comment-ratings text-muted mt-2">
															{% for i in 0..4 %}
															{% if i<comment.rating %}
															
															<i class="icon-star3"></i>
															{% else %}
															<i class="icon-star-empty"></i>
															{% endif %}
															{% endfor %}
															 </small></div>

														<p>{{comment.content }}</p>

														<a class='comment-reply-link' href=''><i class="icon-reply"></i></a>

													</div>
</div>

												</div>
												{% endif %}

{% endfor %}

												

											</li>


										</ol><!-- .commentlist end -->

										<div class="clear"></div>
										<br><br><br><br>

										<!-- Comment Form
										============================================= -->
										<div id="respond" class="clearfix">

											<h4>Leave a <span>Review</span></h4>

											<form class="clearfix" action="" method="post" id="commentform">

												<div class="col_one_third">
													
												</div>

												<div class="clear"></div>
												
												{{ form_start(form) }}
{{ form_widget(form) }}
		

												<div class="col_full nobottommargin">
													<button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-circle button-large mt-3">Submit a Review</button>
												</div>
{{ form_end(form) }}
</div>
											</form>
											

										</div><!-- #respond end -->

									</div><!-- #comments end -->
								</div>
							</div>
						</div>
					
					</div> 
			
</div>
					

			

		
		</section><!-- #content end -->
                    	<!-- Footer
		============================================= -->
		<footer id="footer" class="noborder" style="background-color: #155BBC; padding-top: 80px">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap dark pb-5 clearfix">

					<div class="row">

						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Features</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Help Center</a></li>
									<li class="mb-2"><a href="#">Paid with Moblie</a></li>
									<li class="mb-2"><a href="#">Status</a></li>
									<li class="mb-2"><a href="contact_us">Contact Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Support</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="index">Home</a></li>
									<li class="mb-2"><a href="#">About</a></li>
									<li class="mb-2"><a href="#">FAQs</a></li>
									<li class="mb-2"><a href="#">Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Trending</h4>

								<ul class="list-unstyled ml-0">
							
									<li class="mb-2"><a href="#">Courses</a></li>
									<li class="mb-2"><a href="#">Events</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Get to Know us</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Corporate</a></li>
									<li class="mb-2"><a href="#">Agency</a></li>
									<li class="mb-2"><a href="#">eCommerce</a></li>
									<li class="mb-2"><a href="#">Personal</a></li>
								</ul>

							</div>
						</div>

						<div class="col-lg-4 col-md-4">
							<div id="instagram" class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-5" data-user="5834720953" data-count="15" data-type="user"></div>

							</div>
						</div>

						<div class="line"></div>

						<div class="row">
							<div class="col-sm-3">
								<a href="index"><img src="/coworking/images/logo-footer.png" alt="Logo Footer" class="mb-4" height="20"></a>
								<p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="#" class="social-icon si-small si-light si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-github" title="Github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-instagram" title="instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
							</div>
							<div class="col-sm-9">
								<ul class="list-numbers">
									<li class="text-white-50 t300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatum corporis, repellat assumenda, cumque labore nam fuga deserunt harum, magni asperiores iure? Quos nobis molestiae dolorum obcaecati ad omnis, sint.</li>
									<li class="text-white-50 t300 mb-0">Completely embrace real-time systems whereas fully tested schemas. Synergistically actualize state of the art functionalities vis-a-vis cross-platform data. Conveniently reinvent web-enabled bandwidth via cost effective e-tailers. Proactively engage compelling outsourcing after virtual synergy. Distinctively formulate granular.
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>

			</div>
			

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg dark pt-0">

				<div class="line mt-0"></div>

				<div class="container clearfix">

					<div class="row">
						<div class="col-12">
							<p class="mb-2 text-white-50">Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.</p>
							<div class="copyright-links text-white-50"><a href="#" class="text-white-50">Terms of Use</a> / <a href="#" class="text-white-50">Privacy Policy</a></div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->
	<div class="fixed-feedback">
		<div class="fixed-feedback-button">Feedback</div>
		<div class="fixed-feedback-form form-widget" style="min-height: 100px;">
			<div class="form-result"></div>
			<div class="feedback-rating-loader css3-spinner" style="position: absolute; z-index:auto;">
				<div class="css3-spinner-bounce1"></div>
				<div class="css3-spinner-bounce2"></div>
				<div class="css3-spinner-bounce3"></div>
			</div>
			<div id="feedback-rating-submitted" class="center">
				<img class="mb-3" src="/coworking/checked.svg" alt="" width="42">
				<p class="lead nobottommargin">We have already received your Feedback!</p>
			</div>
			<form class="row m-0" id="feedback-rating" action="/coworking/form.php" method="post">
				<div class="form-process"></div>
				<div class="col-12">
					<div class="form-group">
						<label>Ease of Use:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>UX Design:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Functionality:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
				</div>
				<div class="col-12 hidden">
					<input type="text" id="feedback-rating-botcheck" name="feedback-rating-botcheck" value="" />
				</div>
				<div class="col-12 d-none">
					<button type="submit" name="feedback-rating-submit" id="feedback-rating-submit" class="btn btn-secondary">Submit</button>
				</div>

				<input type="hidden" name="prefix" value="feedback-rating-">
			</form>
		</div>
	</div>
<!-- Switcher
	============================================= -->
	<div class="mode-switcher">
		<div class="pts-text center"><span class="tdark">Dark</span><span class="tlight">Light</span></div>
		<div class="pts-switcher">
			<div class="switch">
				<input id="switch-toggle-mode" class="switch-toggle switch-toggle-round" type="checkbox">
				<label for="switch-toggle-mode"></label>
			</div>
		</div>
	</div>
	

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	  {% block body %}{% endblock %}
 {% block javascripts %}{% endblock %}
	<!-- External JavaScripts
	============================================= -->
	<script src="{{ asset('/js/jquery.js')}}"></script>
	<script src="{{ asset('/js/plugins.js')}}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

<script>
document.querySelector('#search').addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
	
      window.location = e.target.value
    }
});



</script>

<script>
		jQuery(window).on( 'load', function(){
		    var swiper = new Swiper('.swiper-scroller', {
		    	slidesPerView: 'auto',
		    	spaceBetween: 50,
				freeMode: true,
				grabCursor: true,
				navigation: {
				    nextEl: '.slider-arrow-right-1',
				    prevEl: '.slider-arrow-left-1',
				},
				scrollbar: {
				el: '.swiper-scrollbar',
				},
				mousewheel: true,
				breakpoints: {
			        768: {
			          spaceBetween: 20,
			        },
			        576: {
			          spaceBetween: 15,
			        }
			      }
		    });
		});

		jQuery(document).ready( function($){
			function modeSwitcher( elementCheck, elementParent ) {
				if( elementCheck.filter(':checked').length > 0 ) {
					elementParent.addClass('dark');
					$('.mode-switcher').toggleClass('pts-switch-active');
				} else {
					elementParent.removeClass('dark');
					$('.mode-switcher').toggleClass('pts-switch-active', false);
				}
			}

			$('.pts-switcher').each( function(){
				var element = $(this),
					elementCheck = element.find(':checkbox'),
					elementParent = $('body');

				modeSwitcher( elementCheck, elementParent );

				elementCheck.on( 'change', function(){
					modeSwitcher( elementCheck, elementParent );
				});
			});
		});
	</script>
</body>
</html>
