

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<script>(function(w, d) { w.CollectId = "5edc1d2ef906363bd69e7683"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

<!-- Hotjar Tracking Code for My site -->

<style>
.fixed-feedback {
	position: fixed;
	top: 25%;
	right: -300px;
	width: 300px;
	height: auto;
	z-index: 299;
	background-color: #EEE;
	-webkit-transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-backface-visibility: hidden;
}

.fixed-feedback .fixed-feedback-button {
	position: absolute;
	left: -44px;
	color: #333;
	writing-mode: vertical-rl;
	font-size: 1rem;
	background-color: #EEE;
	padding: 15px 10px;
	cursor: pointer;
}

.fixed-feedback .fixed-feedback-form {
	opacity: 0;
	padding: 25px 30px;
	transition: opacity .3s .15s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.fixed-feedback.fixed-feedback-open { right: 0; }
.fixed-feedback.fixed-feedback-open .fixed-feedback-form { opacity: 1; }

#feedback-rating,
.feedback-rating-loader {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.feedback-rating-loader { background: transparent; }

.feedback-rating-loader > div { background-color: #999;  }

.feedback-rating-loader,
.feedback-rating-processing #feedback-rating,
#feedback-rating-submitted,
.feedback-rating-complete .feedback-rating-loader {
	display: none;
	opacity: 0;
}

.feedback-rating-processing .feedback-rating-loader,
.feedback-rating-complete #feedback-rating {
	display: block;
	opacity: 1;
}
</style>
<link rel="icon" href="/coworking/images/rbk.png">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	{% block title %}  {% endblock %}
	 {% block stylesheets %}{% endblock %}

	<!-- Stylesheets
	============================================= -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/bootstrap.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/style.css')}}" type="text/css" />
	
	<link rel="stylesheet" href="/coworking/conference/conference.css" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/dark.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/medical-icons.css')}}" type="text/css" />
		<link rel="stylesheet" href="{{ asset ('/css/font-icons.css')}}" type="text/css" />
	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="{{asset('/css/bs-switches.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ asset ('/css/font-icons.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/animate.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/magnific-popup.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ asset ('/css/responsive.css')}}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{asset('/css/custom.css')}}" type="text/css" />


	<!-- Workspace Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/articles.css" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/colors.php?color=267DF4')}}" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="{{ asset ('/coworking/css/fonts.css')}}" type="text/css" /> <!-- Theme Font -->
	<link rel="stylesheet" href="{{ asset ('/coworking/coworking.css')}}" type="text/css" /> <!-- Theme CSS -->
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>RBK SCHOOL </title>

</head>
        

<body class="stretched">
		{% for message in app.flashes("success") %}

<div class="alert alert-success text-center mx-auto w-50 d-bloc"> {{message}} </div>

{% endfor %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="clearfix static-sticky border-bottom-0">

			<div id="header-wrap">

				<div class="container clearfix">	

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index" class="standard-logo" data-sticky-logo="/coworking/images/rbk.png"><img src="/coworking/images/rbk.png" alt="Canvas Logo" height="20" width="120"></a>
						<a href="index" class="retina-logo" data-sticky-logo="/coworking/images/rbk.png"><img src="/coworking/images/rbk.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->
					

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">

						<ul>
							<li class="current"><a href="index"><div>Home</div></a>
							
								<ul>
								<li><a href="/Aboutus"><div>About Us</div></a></li>
												<li><a href="/contactus"><div>ContactUs</div></a></li>
									<li><a href="/Team"><div>Team</div></a> </li>
									
									
								</ul>
							</li>
								
							<li class="mega-menu"><a href="shop"><div>Courses</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a href="#"><div>Categories</div></a>
											<ul>
												<li><a href="/Aboutus"><div>About Us</div></a></li>
												<li><a href="/contactus"><div>ContactUs</div></a></li>
												<li><a href="about-me.html"><div>About Me</div></a></li>
												<li><a href="team.html"><div>Team Members</div></a></li>
												<li><a href="jobs.html"><div>Careers</div></a></li>
												<li><a href="side-navigation.html"><div>Side Navigation</div></a></li>
												<li><a href="page-submenu.html"><div>Page Submenu</div></a></li>
												<li><a href="sitemap.html"><div>Sitemap</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a href="#"><div>LiveShows</div></a>
											<ul>
												<li><a href="services.html"><div>Services - Layout 1</div></a></li>
												<li><a href="services-2.html"><div>Services - Layout 2</div></a></li>
												<li><a href="services-3.html"><div>Services - Layout 3</div></a></li>
												<li><a href="faqs.html"><div>FAQs - Layout 1</div></a></li>
												<li><a href="faqs-2.html"><div>FAQs - Layout 2</div></a></li>
												<li><a href="faqs-3.html"><div>FAQs - Layout 3</div></a></li>
												<li><a href="faqs-4.html"><div>FAQs - Layout 4</div></a></li>
												<li><a href="maintenance.html"><div>Maintenance Page</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							<li class="mega-menu"><a href="/Events"><div>Events</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title"><a href="#"><div>Grids</div></a>
											<ul>
												<li><a href="Event"><div>Register for an event</div></a></li>
												<li><a href="portfolio-2.html"><div>2 Columns</div></a></li>
												<li><a href="portfolio-3.html"><div>3 Columns</div></a></li>
												<li><a href="portfolio.html"><div>4 Columns</div></a></li>
												<li><a href="portfolio-5.html"><div>5 Columns</div></a></li>
												<li><a href="portfolio-6.html"><div>6 Columns</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							
							<li><a href="/shop"><div>Shop</div></a>
								<ul>
									<li><a href="shop"><div>4 Columns</div></a></li>
									<li><a href="shop-3.html"><div>3 Columns</div></a>
										<ul>
											<li><a href="shop-3.html"><div>Full Width</div></a></li>
											<li><a href="shop-3-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-3-left-sidebar.html"><div>Left Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-2.html"><div>2 Columns</div></a>
										<ul>
											<li><a href="shop-2-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-2-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-2-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-1.html"><div>1 Columns</div></a>
										<ul>
											<li><a href="shop-1.html"><div>Full Width</div></a></li>
											<li><a href="shop-1-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-1-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-1-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-category-parallax.html"><div>Categories - Parallax</div></a></li>
									<li><a href="shop-combination-filter.html"><div>Combination Filter</div></a></li>
									<li><a href="shop-single.html"><div>Single Product</div></a>
										<ul>
											<li><a href="shop-single.html"><div>Full Width</div></a></li>
											<li><a href="shop-single-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-single-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="cart.html"><div>Cart</div></a></li>
									<li><a href="checkout.html"><div>Checkout</div></a></li>
								</ul>
							</li>
							
							<li><a href="#">EN</a>
									<ul>
										<li><a href="#"><img src="/coworking/images/fr.png" width ="30" height ="20" alt="French"> FR</a></li>
										<li><a href="#"><img src="/coworking/images/ar.png" width ="30" height ="20" alt="Arabe"> AR</a></li>
										<li><a href="#"><img src="/coworking/images/eng.png" width ="30" height ="20" alt="English"> EN</a></li>
									</ul>
								</li>
								</li>
								
							{% if is_granted('ROLE_ADMIN')  %}
								<li class="mega-menu"><a href="/admin"><div>ADMIN</div></a> </li>
								<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
								<li><a href="mega-menu"><div>Students Lists </div></a>
								<ul>
								{% for art in articles %}
									<li><a href="{{ path('list', {'slug': art.slug })}}"><div>{{art.slug }} Students</div></a></li>
									{% endfor %}
									
									
									
									
								</ul>
							</li>
							

							{% endif %}
{% if is_granted('ROLE_TEACHER') %} 

								
								<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
								<li><a href="mega-menu"><div>Students Lists </div></a>
								<ul>
								{% for art in articles %}
									<li><a href="{{ path('list', {'slug': art.slug })}}"><div>{{art.slug }} Students</div></a></li>
									{% endfor %}
									
									
									
									
								</ul>
							</li>
{% endif %}
							{% if is_granted('ROLE_ABONNE') %}
							<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
							
{% endif %}
	
						</ul>

					<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>{{ totalq }}</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
								
								<div class="top-cart-items">
								 {% for item in items %}
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="{{ asset("uploads/avatars/" ~ item.article.thumbnail) }}" alt="Blue Round-Neck Tshirt" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">{{ item.article.slug}} Training</a>
											<span class="top-cart-item-price">{{ item.article.price }}</span>
											<span class="top-cart-item-quantity">x {{ item.quantity }}</span>
										</div>
									</div>
									{% endfor %}
									</div>
								<div class="top-cart-action clearfix">
									<span class="fleft top-checkout-price">{{ total }} DT</span>
									<a href="/cart"><button class="button button-3d button-small nomargin fright" href="Cart">View Cart</button></a>
								</div>
						
								
							</div>
						</div>	
						<!-- #top-cart end --> 
					

									

							<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form >
								<input type="text" id="search" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->
						
						
<div class="modal1 mfp-hide" id="modal-register">
			<div class="card divcenter" style="max-width: 540px;">
				<div class="card-header py-3 nobg center">
					<h3 class="mb-0 t400">Welcome to RBK! </h3>
				</div>
				<div class="card-body divcenter py-5" style="max-width: 70%;">

					<a href="{{ path('connect_facebook_start') }}" class="button button-large btn-block si-colored si-facebook nott t400 ls0 center nomargin"><i class="icon-facebook-sign"></i> Log in with Facebook</a>
					<a href="#" class="button button-large btn-block si-colored si-gmail nott t400 ls0 center nomargin"><i class="icon-google-plus-sign"></i> Log in with Gmail</a>
					
					
					

					<div class="divider divider-center"><span class="position-relative" style="top: -2px">OR</span></div>

					<form id="login-form" name="login-form" class="nobottommargin row" action="{{ path('app_login')}}" method="post">
					

						<div class="col-12">
							<input type="text" id="login-form-username" name="_username" value="" class="form-control not-dark" placeholder="Username" />
						</div>

						<div class="col-12 mt-4">
							<input type="password" id="login-form-password" name="_password" value="" class="form-control not-dark" placeholder="Password" />
						</div>

						<div class="col-12">
							<a href="#" class="fright text-dark t300 mt-2">Forgot Password?</a>
						</div>

						<div class="col-12 mt-4">
				
			
				
				
				<button class="button btn-block nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						 
				
						
						</div>
					</form>
				</div>
				<div class="card-footer py-4 center">
					<p class="mb-0">Don't have an account? <a href="register"><u>Sign up</u></a></p>
				</div>
			</div>
		</div>
			{% if app.user %}
		
					
					<ul class="pr-0 header-button">
							<li>
								<a href="#section-tickets" class="button button-effect" data-scrollto="#section-tickets">{{app.user.getName() }}</a>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item tleft" href="profile">Profile</a>
							
							<a class="dropdown-item tleft" href="/profil">Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item tleft" href="logout">Logout <i class="icon-signout"></i></a>
						</ul>

							</li>
						</ul>
{% else %}
	<ul class="pr-0 header-button">
							<li>
							<a href="#modal-register" data-lightbox="inline" ><i class="icon-line2-user mr-1 position-relative" style="top: 1px;"></i><span class="d-none d-sm-inline-block font-primary t500">Login</span></a>
							
						
						</ul>

							</li>
						</ul>
	
		

	

						{% endif %}
					
						</div>

					</nav><!-- #primary-menu end -->


				</div>

			</div>


		</header><!-- #header end -->
		<!-- Hero/Slider
		============================================= -->
		<section id="slider" class="slider-element full-screen" style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.8)), url('/coworking/images/rbk/meow.jpg') no-repeat center center / cover;">
			<div class="vertical-middle" style="z-index: 2;">
				<div class="container dark clearfix">
					<div class="row justify-content-between mt-4 clearfix">
						<div class="col-lg-6 parallax" data-0="transform: translateY(0px); opacity: 1" data-300="transform: translateY(50px); opacity: 0">
							<span class="gradient-underline h4">CHALLENGE'JE 2k21</span>
							<h2 class="t700 display-2 mb-0">code YOUR WAY To SUCCESS.</h2>
						</div>
						<div class="col-lg-6 tright d-flex align-items-end flex-column parallax" data-0="transform: translateY(0px)" data-700="transform: translateY(-50px)">
							<div class="mt-auto">
								<h2 class="mb-2 gradient-text">March 24, 2021</h2>
								<h4 class="t400">Tunis , Tunisia</h4>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- #Slider end -->
		

		<!-- Content
		============================================= -->
			
					
		<section id="content">

			<div class="content-wrap pt-3 pb-0">

				<div class="section nobg py-2">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h2 class="display-4 t600 ls--2"> RBK<span class="text-rotater" data-separator="|" data-rotate="fadeIn" data-speed="2000">
								<br>	<span class="t-rotate">Courses|Etc</span>
								</span> for you.</h2>
							</div>
							<div class="col-md-5">
								<p class="lead text-muted">
									Made By ENICAR STUDENTS
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="ohidden parallax d-flex align-items-center" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;" style="background-image: url('/coworking/images/hedhi.jpg'); background-size: cover; height: 600px; width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<h2 class="text-white">This website is made for RBK :)</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="bg-theme-light">
					<div class="shadow-sm hero-features bgcolor dark shadow">
						<div class="row">
							<div class="col-md-4 mt-3 mt-md-0">
								<div class="feature-box fbox-plain fbox-small fbox-dark  mb-0">
									<div class="fbox-icon">
										<i class="icon-line-circle-check"></i>
									</div>
									<h3 class="text-white">Easily Manage Your Works</h3>
									<p class="text-white mb-0">24x7 available, Anytime & anywhere, we're always available for You.</p>
								</div>
							</div>

							<div class="col-md-4 mt-3 mt-md-0">
								<div class="feature-box fbox-plain fbox-small fbox-dark mb-0">
									<div class="fbox-icon">
										<i class="icon-line-circle-check"></i>
									</div>
									<h3 class="text-white">24x7 Access.</h3>
									<p class="text-white mb-0">Get Started with our Regular, Weekly, Monthly Plan.</p>
								</div>
							</div>

							<div class="col-md-4 mt-3 mt-md-0">
								<div class="feature-box fbox-plain fbox-small fbox-dark mb-0">
									<div class="fbox-icon">
										<i class="icon-line-circle-check"></i>
									</div>
									<h3 class="text-white">Secured &amp; Friendly.</h3>
									<p class="text-white mb-0">Intrinsicly evisculate quality vectors befor high-impact schemas.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<center>

			<div class="section mt-0 pt-md-5 pt-0">
					<div class="container clearfix">
						<div class="row align-items-md-center mb-5">
							<div class="col-md-6 pr-5">
								<div class="heading-block mb-4 nobottomborder">
									<div class="before-heading">Know More</div>
									<h2 class="nott t600">Work Together, Build Together.</h2>
								</div>
								<div class="row">
									<div class="col-6 col-sm-6 mb-4">
										<div class="counter color t600"><span data-from="1" data-to="3" data-refresh-interval="2" data-speed="600"></span>+</div>
										<h5 class="mt-0 t500">Branches</h5>
									</div>

									<div class="col-6 col-sm-6 mb-4">
										<div class="counter color t600"><span data-from="1" data-to="37" data-refresh-interval="11" data-speed="900"></span>+</div>
										<h5 class="mt-0 t500">Single Studios</h5>
									</div>

									<div class="col-6 col-sm-6 mb-4">
										<div class="counter color t600"><span data-from="1" data-to="21" data-refresh-interval="3" data-speed="1000"></span>+</div>
										<h5 class="mt-0 t500">Events per Month</h5>
									</div>

									<div class="col-6 col-sm-6 mb-4">
										<div class="counter color t600"><span data-from="10" data-to="500" data-refresh-interval="100" data-speed="100"></span>+</div>
										<h5 class="mt-0 t500">Active Members</h5>
									</div>
								</div>
								<p class="text-muted">Meow♥</p>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="card shadow-sm border-light">
									<img src="/coworking/images/rbk1.jpg" alt="Featured image 1" class="card-img-top">
									<div class="card-body">
										<h5 class="card-title t600 color">Meeting Rooms</h5>
										<p class="card-text">Meow♥</p>
									</div>
								</div>
								<div class="card shadow-sm border-light mt-4">
									<img src="/coworking/images/rbk2.jpg" alt="Featured image 2" class="card-img-top">
									<div class="card-body">
										<h5 class="card-title t600 color">Private Rooms</h5>
										<p class="card-text">meow♥</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 pl-sm-3 mt-3 mt-sm-0">
								<div class="card shadow-sm border-light">
									<img src="/coworking/images/rbk3.jpg" alt="Featured image 3" class="card-img-top">
									<div class="card-body">
										<p class="card-text">meow♥</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
<div id="gotoTop" class="icon-angle-up"></div>
					<div class="row justify-content-between">

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-wifi-full color ml-0 mb-4 i-plain d-block fnone"></i>
							<h4 class="mb-3">Fiber Optic WiFi</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-line2-cup color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">Cafeteria</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-line2-screen-desktop color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">Flexible Desks</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-line2-lock color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">Lockers</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-fingerprint color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">100% Secure</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-line2-printer color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">Printers &amp; Fax</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-couch color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">Common Area</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-line-clock color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">24x7 Access</h4>
							<p class="text-muted">Meow meow.</p>
						</div>

						<!-- Feature Box
						============================================= -->
						<div class="col-lg-4 col-md-6 my-4">
							<i class="icon-playstation color ml-0 mb-3 i-plain d-block fnone"></i>
							<h4 class="mb-3">Other Activities</h4>
							<p class="text-muted">Meow meow.</p>
						</div>
					</div>
				</div>
				<div class="section" style="padding: 80px 0">
					
					<!-- Section Speakers
				============================================= -->
				<div id="section-speakers" class="section page-section nobg pt-0 topmargin-lg clearfix">
					<div class="container">
						<div class="mb-5 dark d-flex flex-wrap justify-content-between align-items-center">
							<span class="display-4 t700 gradient-underline mb-0">Speakers</span>
							<a href="#" class="button button-effect m-0">Show All Speakers</a>
						</div>
						<div class="card-columns divcenter dark"  style="max-width: 1000px;">
							<a href="#" class="team">
								<div class="team-image">
									<img src="/coworking/images/rbk/baha.jpg" alt="John Doe" height="300" width="300">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4 class="gradient-text"><center>Thabet Bahaeddine</center></h4><span><center>FullStack Developper</center></span></div>
								</div>
							</a>
							<a href="contactus" class="team joinspeaker ">
								<div class="team-image gradient-bg">
									<img src="/coworking/conference/images/speakers/blank.jpg" alt="John Doe"height="300" width="300">
									<i class="icon-line-circle-plus gradient-text"></i>
								</div>
								<div class="team-desc" style="z-index: 3;">
									<div class="team-title"><span><center> Join us !</center> </span></div>
								</div>
							</a>
						</div>
					</div>
				</div><!-- #section-speaker end -->

					<div class="container">
						<div class="heading-block nobottomborder mb-0">
							<div class="before-heading">Select your Plan</div>
							<h2 class="nott t600 mb-0">Membership</h2>
						</div>
					</div>
						<div class="row">
							<div class="col-12">
								<div id="price-carousel" class="owl-carousel carousel-widget" data-margin="30" data-nav="false" data-pagi="true" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="3" data-items-xl="3">

									<div class="price-list shadow-sm card border-0 rounded">
										<div class="position-relative">
											<img src="/coworking/images/membership/1-day.jpg" alt="Featured image 1" class="card-img-top rounded-top">
											<div class="card-img-overlay dark d-flex justify-content-center flex-column p-0 center">
												<h3 class="card-title mb-0 text-white">Day Pass</h3>
												<p class="card-text mb-0">Give it a Try</p>
											</div>
										</div>
										<div class="card-body">

											<div class="price-title pb-3">19 DT<small>Per Day</small></div>

											<ul class="list-group list-group-flush mb-4">
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Day Access Only</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Unlimited Superfast Wi-Fi</li>
											  <li class="list-group-item pl-0 text-black-50"><i class="icon-line-check pr-3 color"></i> <del>No lockers</del></li>
											</ul>

											<a href="Register" class="button button-rounded button-large btn-block m-0 center t500">Sign Up</a>

										</div>
									</div>

									<div class="price-list shadow-sm card border-0 rounded">
										<div class="position-relative">
											<img src="/coworking/images/membership/share.jpg" alt="Featured image 1" class="card-img-top rounded-top">
											<div class="card-img-overlay dark d-flex justify-content-center flex-column p-0 center">
												<h3 class="card-title mb-0 text-white">Shared Desk</h3>
												<p class="card-text mb-0">Economical but Flexible</p>
											</div>
										</div>
										<div class="card-body">

											<div class="price-title pb-3">99 DT<small>Monthly</small></div>

											<ul class="list-group list-group-flush mb-4">
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> 8am to 8pm Access</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> 100 hours of Superfast Wi-Fi</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Lockers Access</li>
											  <li class="list-group-item pl-0 text-black-50"><i class="icon-line-check pr-3 color"></i> <del>No Printers</del></li>
											</ul>

											<a href="Register" class="button button-rounded button-large btn-block m-0 center t500">Sign Up</a>

										</div>
									</div>

									<div class="price-list shadow-sm card border-0 rounded">
										<div class="position-relative">
											<img src="/coworking/images/membership/flexible.jpg" alt="Featured image 1" class="card-img-top rounded-top">
											<div class="card-img-overlay dark d-flex justify-content-center flex-column p-0 center">
												<h3 class="card-title mb-0 text-white">Flexible Desk</h3>
											<p class="card-text mb-0">Any Desk, Any Chair</p>
											</div>
										</div>
										<div class="card-body">

											<div class="price-title pb-3">149 DT<small>Monthly</small></div>

											<ul class="list-group list-group-flush mb-4">
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> 200 hours of WIFI per Month</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Lockers Access</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> 50 pages Printers</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> 5hrs Skype Booth</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Mailing Address</li>
											</ul>

											<a href="Register" class="button button-rounded button-large btn-block m-0 center t500">Sign Up</a>

										</div>
									</div>

									<div class="price-list shadow-sm card border-0 rounded">
										<div class="position-relative">
											<img src="/coworking/images/membership/private.jpg" alt="Featured image 1" class="card-img-top rounded-top">
											<div class="card-img-overlay dark d-flex justify-content-center flex-column p-0 center">
												<h3 class="card-title mb-0 text-white">Private Desk</h3>
											<p class="card-text mb-0">Its all Yours!</p>
											</div>
										</div>
										<div class="card-body">

											<div class="price-title pb-3">249 DT<small>Monthly</small></div>

											<ul class="list-group list-group-flush mb-4">
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Private Desk + Locker</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> 500 hours of WIFI per Month</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Meeting Room Access</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Unlimited Printers</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Unlimited Skype Booth</li>
											  <li class="list-group-item pl-0"><i class="icon-line-check pr-3 color"></i> Mailing Address</li>
											</ul>

											<a href="Register" class="button button-rounded button-large btn-block m-0 center t500">Sign Up</a>

										</div>
									</div>

								</div>
							</div>
							<div class="col-md-11 mt-5 offset-md-1">
								<h3>Terms &amp; Conditions</h3>
								<ul class="pl-4 mb-0">
									<li class="mb-1">Hours indicated are access to the space NOT the WIFI or Internet Connection.</li>
									<li class="mb-1">Payment is upfront. We accept Cash and VISA/Master Cards, 2% Credit Card surcharge applies.</li>
									<li class="mb-1">Monthly Plan starts from the point of signup for 30 days.</li>
									<li class="mb-1">Sorry NO Pausing Memberships and NO Cancellations.</li>
									<li class="mb-1">Sorry NO Upgrading Plans you need to use the hours in the plan.</li>
									<li class="mb-1">If you run out of hours you can buy additional hours at the rate above, through our website or front desk.</li>
									<li class="mb-1">If you wish to change plan once you’re on a plan this is done only at the end of the month or once you use your hours.</li>
									<li class="mb-1">Skype Booths must be booked before 1 day &amp; the keys can be collected at the frontdesk. </li>
									<li class="mb-1">Storage Lockers are first come first serve and are subject to availability.</li>
									
									<li class="mb-1">Pets are not allowed.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="section clearfix nobg">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<div class="before-heading">Some Of Gallery Pictures</div>
							<h2 class="nott t600 mb-0">Gallery</h2>
						</div>
					</div>
					<div id="image-carousel" class="owl-carousel carousel-widget" data-margin="24" data-nav="true" data-pagi="true" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="2" style="padding: 0 20px" data-lightbox="gallery">
						<div class="slide slide--1">
							<div class="carousel-column-container">
								<ul class="carousel-column column-1">
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/1.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/1.jpg');"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/2.jpg.png" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/2.jpg');"></a>
									</li>
								</ul>
								<ul class="carousel-column column-2">
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/3.jpg.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/3.jpg'); min-height: 300px"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/4.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/4.jpg'); min-height: 280px"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/5.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/5.jpg'); min-height: 200px"></a>
									</li>
								</ul>
							</div>
						</div>

						<div class="slide slide--2">
							<div class="carousel-column-container">
								<ul class="carousel-column column-1">
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/6.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/6.jpg'); min-height: 324px"></a>
									</li>
									<li class="carousel-grid-item">
										<div class="item bgcolor d-flex align-items-center px-4" style="min-height: 480px">
											<blockquote class="blockquote border-0 mb-0">
												<p class="mb-3 text-white">"The Spirit of CoWorking Allows You to Find CoWorkers Who're Worth Working with."</p>
												<footer class="blockquote-footer text-white-50 font-italic">Cynthia Chiam</footer>
											</blockquote>
										</div>
									</li>
								</ul>
								<ul class="carousel-column column-2">
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/7.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/7.jpg');"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/8.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/8.jpg');"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/9.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/9.jpg');"></a>
									</li>
								</ul>
							</div>
						</div>

						<div class="slide slide--3">
							<div class="carousel-column-container">
								<ul class="carousel-column column-1">
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/10.jpg" data-lightbox="gallery-item" class="item bgcolor d-flex align-items-center px-4 img-overlay" style="background-image: url('/coworking/images/rbk/10.jpg'); min-height: 350px">
											<blockquote class="blockquote border-0 mb-0">
												<p class="mb-3 text-white">"I Belive in Collaboration Rather Than Competition"</p>
												<footer class="blockquote-footer text-white-50 font-italic">Cynthia Chiam</footer>
											</blockquote>
										</a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/10.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/10.jpg'); min-height: 453px"></a>
									</li>
								</ul>
								<ul class="carousel-column column-2">
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/11.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/11.jpg');"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/12.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/12.jpg');"></a>
									</li>
									<li class="carousel-grid-item">
										<a href="/coworking/images/rbk/13.jpg" data-lightbox="gallery-item" class="item" style="background-image: url('/coworking/images/rbk/1jpg');"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="section p-0 testimonials clearfix">
					<div class="container" style="padding: 120px 0">
						<div class="heading-block nobottomborder center">
							<div class="before-heading">What our Members Say</div>
							<h2 class="nott t600">Testimonials</h2>
							<p class="mb-0 mt-1"><span class="t600">Excellent, 9.6</span> out of 10 based on <span class="t600">2,118</span> reviews. </p>
						</div>

						<div id="testimonials-carousel" class="owl-carousel carousel-widget testimonial testimonial-full nobgcolor noborder noshadow nopadding divcenter tleft clearfix" data-animate-in="fadeIn" data-animate-out="fadeOut" data-margin="24" data-nav="false" data-pagi="true" data-items="1" style="max-width: 740px">
							<div class="slide">
								<div class="testi-content">
									<div class="testi-stars mb-4">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
									</div>
									<p>Collaboratively enhance intermandated innovation via cutting-edge core competencies. Professionally extend covalent e-markets and mission-critical communities. Dramatically communicate revolutionary web services for interactive synergy. Synergistically.</p>
									<div class="testi-meta mt-4">
										Steve Jobs
										<span class="ls0">Apple Inc.</span>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="testi-content">
									<div class="testi-stars mb-4">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half2"></i>
									</div>
									<p>Intrinsicly synergize excellent content whereas user friendly action items. Rapidiously transition multimedia based information after top-line alignments. Authoritatively integrate accurate outsourcing vis-a-vis principle-centered systems energistically</p>
									<div class="testi-meta mt-4">
										Collis Ta'eed
										<span class="ls0">Envato Inc.</span>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="testi-content">
									<div class="testi-stars mb-4">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
									</div>
									<p>Compellingly engage multimedia based niche markets via value-added manufactured products. Competently formulate goal-oriented content for installed base users. Uniquely leverage other's granular ROI without 24/365 collaboration and idea-sharing.</p>
									<div class="testi-meta mt-4">
										John Doe
										<span class="ls0">XYZ Inc.</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="section nobg clearfix" style="padding: 80px 0">
					<div class="container">
						<div class="row justify-content-between align-items-center">
							<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 bottommargin-lg">
								<a href="https://www.youtube.com/watch?v=kkGEWS9EdBs" data-lightbox="iframe" class="play-video position-relative"><img src="/coworking/images/rbkxd.png" alt="Video Image" class="rounded-lg shadow-lg" height="500">
									<i class="icon-play"></i>
								</a>
							</div>
							<div class="col-lg-5 col-md-6 mt-0 mt-md-4">
								<div class="feature-box fbox-plain fbox-small">
									<div class="fbox-icon">
										<i class="icon-line2-magic-wand"></i>
									</div>
									<h3>Easily Manage Your Works</h3>
									<p>Quickly impact virtual testing procedures vis-a-vis viral e-commerce. Completely myocardinate seamless.</p>
								</div>

								<div class="feature-box fbox-plain fbox-small">
									<div class="fbox-icon">
										<i class="icon-line2-clock"></i>
									</div>
									<h3>24x7 Access</h3>
									<p>Authoritatively create one-to-one relationships for B2B "outside the box" thinking. Dramatically seize.</p>
								</div>

								<div class="feature-box fbox-plain fbox-small mb-0">
									<div class="fbox-icon">
										<i class="icon-line2-speech"></i>
									</div>
									<h3>Great Community</h3>
									<p>Proactively evolve user-centric paradigms rather than exceptional core. Authoritatively brand unique.</p>
								</div>
							</div>

							<div class="col-lg-5 col-md-6 mt-5 mt-md-0">
								<h2 class="ls0">Get One Day Free Trial.</h2>
								<p class="text-muted mb-5" style="font-size: 18px;">Enthusiastically embrace diverse e-markets after sustainable applications. Collaboratively impact intermandated systems vis-a-vis progressive information.</p>
								<div class="d-flex">
									<a href="#" class="button button-rounded button-xlarge d-block flex-fill m-0 center nott t600 ls0">Sign Up</a>
									<a href="#" class="button button-rounded button-xlarge d-block flex-fill button-border m-0 ml-3 center nott t600 ls0">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="line"></div>

				<div class="section p-0 nobg clearfix">
					<div class="container">
						<div class="row mb-2">
							<div class="col-lg-6 col-md-4">
								<div class="heading-block nobottomborder mb-4">
									<div class="before-heading">How do you Contact Us</div>
									<h2 class="nott t600">Locations</h2>
								</div>
							</div>
							

							<div class="col-lg-6 col-md-8">
								<div class="row">
									<div class="col-sm-4 col-3">
										<div class="counter color t600"><span data-from="1" data-to="3" data-refresh-interval="2" data-speed="600"></span>+</div>
										<h5 class="mt-0 t500">Branches</h5>
									</div>

									<div class="col-sm-4 col-6">
										<div class="counter color t600"><span data-from="10" data-to="500" data-refresh-interval="100" data-speed="100"></span>+</div>
											<h5 class="mt-0 t500">Active Members</h5>
									</div>

									<div class="col-sm-4 col-3">
										<div class="counter color t600"><span data-from="2" data-to="100" data-refresh-interval="30" data-speed="1500"></span>%</div>
											<h5 class="mt-0 t500">Secured</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="locations-carousel" class="owl-carousel carousel-widget owl-carousel-full clearfix" data-animate-in="fadeIn" data-animate-out="fadeOut" data-speed="200" data-margin="0" data-nav="true" data-pagi="true" data-items="1">
						<div>
							<div class="masonry-thumbs grid-5" data-big="2" data-lightbox="gallery">
								<a href="/coworking/images/oficinalocal.jpg" data-lightbox="gallery-item"><img src="/coworking/images/oficinalocal.jpg" alt="Gallery Thumb 1"></a>
								<a href="#"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835253572242!2d144.95373531531297!3d-37.817327679751735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1554124945593!5m2!1sen!2sin" width="500" height="334" allowfullscreen  style="border:0;"></iframe></a>
								<a href="/coworking/images/location/thumbs/full/2.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/2.jpg" alt="Gallery Thumb 12"></a>
								<a href="/coworking/images/location/thumbs/full/3.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/3.jpg" alt="Gallery Thumb 3"></a>
								<a href="/coworking/images/location/thumbs/full/4.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/4.jpg" alt="Gallery Thumb 4"></a>
								<a href="/coworking/images/location/thumbs/full/5.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/5.jpg" alt="Gallery Thumb 5"></a>
								<a href="/coworking/images/location/thumbs/full/6.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/6.jpg" alt="Gallery Thumb 6"></a>
								<a href="/coworking/images/location/thumbs/full/7.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/7.jpg" alt="Gallery Thumb 7"></a>
								<a href="/coworking/images/location/thumbs/full/8.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/8.jpg" alt="Gallery Thumb 13"></a>
								<a href="/coworking/images/location/thumbs/full/9.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/9.jpg" alt="Gallery Thumb 6"></a>
								<a href="/coworking/images/location/thumbs/full/10.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/10.jpg" alt="Gallery Thumb 7"></a>
								<a href="/coworking/images/location/thumbs/full/11.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/11.jpg" alt="Gallery Thumb 12"></a>
							</div>
							<div class="container">
								<div class="card shadow bg-white">
									<div class="card-body">
										<h3 class="mb-4">Medenine</h3>
										<div style="font-size: 16px;">
											<address>
												Aziza residence, rue de Gabes,<br>Mednine ,<br>Tunisia
											</address>
											<div class="mb-4" style="font-size: 15px;">
												<small class="text-black-50 d-block mb-2">Phone Number:</small>
												<a href="tel:+(61)3-222-333-44" class="text-dark d-block mb-1">+(216)75 601 540</a>
												<a href="tel:+(61)3-234-532-45" class="text-dark">+(216)75 601 540</a>
											</div>

											<a href="#" class="button button-rounded m-0 nott t600 ls0">Email Us</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class="masonry-thumbs grid-5" data-big="1,6" data-lightbox="gallery">
								<a href="#"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835253572242!2d144.95373531531297!3d-37.817327679751735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1554124945593!5m2!1sen!2sin" width="500" height="334" allowfullscreen  style="border:0;"></iframe></a>
								<a href="/coworking/images/location/thumbs/full/5.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/5.jpg" alt="Gallery Thumb 5"></a>
								<a href="/coworking/images/location/thumbs/full/2.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/2.jpg" alt="Gallery Thumb 12"></a>
								<a href="/coworking/images/location/thumbs/full/4.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/4.jpg" alt="Gallery Thumb 4"></a>
								<a href="/coworking/images/location/thumbs/full/1.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/1.jpg" alt="Gallery Thumb 1"></a>
								<a href="/coworking/images/location/thumbs/full/9.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/9.jpg" alt="Gallery Thumb 6"></a>
								<a href="/coworking/images/location/thumbs/full/3.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/3.jpg" alt="Gallery Thumb 3"></a>
								<a href="/coworking/images/location/thumbs/full/6.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/6.jpg" alt="Gallery Thumb 6"></a>
								<a href="/coworking/images/location/thumbs/full/7.jpg" data-lightbox="gallery-item"><img src="/coworking/images/location/thumbs/7.jpg" alt="Gallery Thumb 7"></a>
							</div>
							<div class="container">
								<div class="card shadow bg-white">
									<div class="card-body">
										<h3 class="mb-4">Medenine</h3>
										<div style="font-size: 16px;">
											<address>
												<address>
												Aziza residence, rue de Gabes,<br>Mednine ,<br>Tunisia
											</address>
											</address>
											<div class="mb-4" style="font-size: 15px;">
												<small class="text-black-50 d-block mb-2">Phone Number:</small>
												<a href="tel:+(61)2-222-333-44" class="text-dark d-block mb-1">+(216)75 601 540</a>
												<a href="tel:+(61)2-234-532-45" class="text-dark">+(216)75 601 540</a>
											</div>

											<a href="#" class="button button-rounded m-0 nott t600 ls0">Email Us</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div>
							<img src="/coworking/images/location/perth.jpg" alt="Perth">
							<div class="container">
								<div class="card shadow bg-white">
									<div class="card-body">
										<h3 class="mb-4">Medenine</h3>
										<div style="font-size: 16px;">
											<address>
												Aziza residence, rue de Gabes,<br>Mednine ,<br>Tunisia
											</address>
											<div class="mb-4" style="font-size: 15px;">
												<small class="text-black-50 d-block mb-2">Phone Number:</small>
												<a href="tel:+(61)8-222-333-44" class="text-dark d-block mb-1">+(216)75 601 540/a>
												<a href="tel:+(61)8-234-532-45" class="text-dark">+(216)75 601 540</a>
											</div>

											<div class="d-flex">
												<a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54159.94533455547!2d115.81934154447853!3d-31.96098939372422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a525098d1f2f%3A0xec4a7b90626730e7!2sKings+Park+and+Botanic+Garden!5e0!3m2!1sen!2sin!4v1554279269646!5m2!1sen!2sin" data-lightbox="iframe" class="button button-rounded button-border m-0 nott t500 ls0">View Map</a>
											<a href="#" class="button button-rounded m-0 nott t600 ls0 ml-2">Email Us</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section nobg clearfix">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<div class="before-heading">See What's Up in Latest</div>
							<h2 class="nott t600">News &amp; Events</h2>
						</div>

						<div class="clear"></div>

						<div class="row mb-5">
						{% for event in events %}
							<div class="col-md-4 mt-5">
								<article class="ipost">
									<div class="entry-title">
										<h3><a href="#">{{ event.name }}</a></h3>
									</div>
									<div class="entry-content clearfix">
										<p>{{event.description}}</p>
									</div>
									<div class="author-meta d-flex align-items-center">
										<div class="author-image">
											<img src="{{ asset("uploads/avatars/" ~ event.thumbnail) }}" alt="Author Image" class="rounded-circle">
										</div>
										<ul class="entry-meta m-0 clearfix">
											<li><span>By</span> <a href="#">{{event.place}}</a></li>
											<li class="mb-0"><a href="#">{{event.date()|date("m/d/Y")}}</a></li>
										</ul>
									</div>
								</article>
							</div>
{% endfor %}

						</div>
					</div>

				</div>

				<div class="section mb-0 pb-0 bg-theme-light clearfix" style="padding-top: 120px;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 offset-1">
								<div class="before-heading">Don't Hesitate to Reach out to Us</div>
									<h2 class="nott t600 display-4">Want to Talk?</h2>
								<h4 class="t300 mb-4">Call us at <a href="tel:+(61)8-234-532-45">+(216) 75 601 540</a></h4>
								<a href="#" class="button button-rounded button-xlarge m-0 nott t600 ls0 px-5">Email Us</a>
							</div>
						</div>
					</div>
					<img src="/coworking/images/footer-bg.jpg" alt="Footer Image" class="footer-img">
				</div>

			</div>
			


		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="noborder" style="background-color: #155BBC; padding-top: 80px">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap dark pb-5 clearfix">

					<div class="row">

						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Features</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Help Center</a></li>
									<li class="mb-2"><a href="#">Paid with Moblie</a></li>
									<li class="mb-2"><a href="#">Status</a></li>
									<li class="mb-2"><a href="contact_us">Contact Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Support</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="index">Home</a></li> 
									<li class="mb-2"><a href="#">About</a></li>
									<li class="mb-2"><a href="#">FAQs</a></li>
									<li class="mb-2"><a href="#">Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Trending</h4>

								<ul class="list-unstyled ml-0">
								
									<li class="mb-2"><a href="shop">Courses</a></li>
									<li class="mb-2"><a href="events">Events</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Get to Know us</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Corporate</a></li>
									<li class="mb-2"><a href="#">Agency</a></li>
									<li class="mb-2"><a href="#">eCommerce</a></li>
									<li class="mb-2"><a href="#">Personal</a></li>
								</ul>

							</div>
						</div>

						<div class="col-lg-4 col-md-4">
							<div id="instagram" class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-5" data-user="5834720953" data-count="15" data-type="user"></div>

							</div>
						</div>

						<div class="line"></div>

						<div class="row">
							<div class="col-sm-3">
								<a href="index"><img src="/coworking/images/logo-footer.png" alt="Logo Footer" class="mb-4" height="20"></a>
								<p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="#" class="social-icon si-small si-light si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-github" title="Github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-instagram" title="instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
							</div>
							<div class="col-sm-9">
								<ul class="list-numbers">
									<li class="text-white-50 t300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatum corporis, repellat assumenda, cumque labore nam fuga deserunt harum, magni asperiores iure? Quos nobis molestiae dolorum obcaecati ad omnis, sint.</li>
									<li class="text-white-50 t300 mb-0">Completely embrace real-time systems whereas fully tested schemas. Synergistically actualize state of the art functionalities vis-a-vis cross-platform data. Conveniently reinvent web-enabled bandwidth via cost effective e-tailers. Proactively engage compelling outsourcing after virtual synergy. Distinctively formulate granular.
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>

			</div>
			

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg dark pt-0">

				<div class="line mt-0"></div>

				<div class="container clearfix">

					<div class="row">
						<div class="col-12">
							<p class="mb-2 text-white-50">Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.</p>
							<div class="copyright-links text-white-50"><a href="#" class="text-white-50">Terms of Use</a> / <a href="#" class="text-white-50">Privacy Policy</a></div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->
	<div class="fixed-feedback">
		<div class="fixed-feedback-button">Feedback</div>
		<div class="fixed-feedback-form form-widget" style="min-height: 100px;">
			<div class="form-result"></div>
			<div class="feedback-rating-loader css3-spinner" style="position: absolute; z-index:auto;">
				<div class="css3-spinner-bounce1"></div>
				<div class="css3-spinner-bounce2"></div>
				<div class="css3-spinner-bounce3"></div>
			</div>
			<div id="feedback-rating-submitted" class="center">
				<img class="mb-3" src="/coworking/checked.svg" alt="" width="42">
				<p class="lead nobottommargin">We have already received your Feedback!</p>
			</div>
			<form class="row m-0" id="feedback-rating" action="/coworking/form.php" method="post">
				<div class="form-process"></div>
				<div class="col-12">
					<div class="form-group">
						<label>Ease of Use:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>UX Design:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Functionality:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
				</div>
				<div class="col-12 hidden">
					<input type="text" id="feedback-rating-botcheck" name="feedback-rating-botcheck" value="" />
				</div>
				<div class="col-12 d-none">
					<button type="submit" name="feedback-rating-submit" id="feedback-rating-submit" class="btn btn-secondary">Submit</button>
				</div>

				<input type="hidden" name="prefix" value="feedback-rating-">
			</form>
		</div>
	</div>

	<!-- Switcher
	============================================= -->
	<div class="mode-switcher">
		<div class="pts-text center"><span class="tdark">Dark</span><span class="tlight">Light</span></div>
		<div class="pts-switcher">
			<div class="switch">
				<input id="switch-toggle-mode" class="switch-toggle switch-toggle-round" type="checkbox">
				<label for="switch-toggle-mode"></label>
			</div>
		</div>
	</div>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	  {% block body %}{% endblock %}
 {% block javascripts %}{% endblock %}
	<!-- External JavaScripts
	============================================= -->
	<script src="{{ asset('/js/jquery.js')}}"></script>
	<script src="{{ asset('/js/plugins.js')}}"></script>
	

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGUgOO2RHs_0Ma6vfQ-zKsFnAvtI1RnGc&callback=initMap"></script>
	<script>
		jQuery(window).on( 'load', function(){
		    var swiper = new Swiper('.swiper-scroller', {
		    	slidesPerView: 'auto',
		    	spaceBetween: 50,
				freeMode: true,
				grabCursor: true,
				navigation: {
				    nextEl: '.slider-arrow-right-1',
				    prevEl: '.slider-arrow-left-1',
				},
				scrollbar: {
				el: '.swiper-scrollbar',
				},
				mousewheel: true,
				breakpoints: {
			        768: {
			          spaceBetween: 20,
			        },
			        576: {
			          spaceBetween: 15,
			        }
			      }
		    });
		});

		jQuery(document).ready( function($){
			function modeSwitcher( elementCheck, elementParent ) {
				if( elementCheck.filter(':checked').length > 0 ) {
					elementParent.addClass('dark');
					$('.mode-switcher').toggleClass('pts-switch-active');
				} else {
					elementParent.removeClass('dark');
					$('.mode-switcher').toggleClass('pts-switch-active', false);
				}
			}

			$('.pts-switcher').each( function(){
				var element = $(this),
					elementCheck = element.find(':checkbox'),
					elementParent = $('body');

				modeSwitcher( elementCheck, elementParent );

				elementCheck.on( 'change', function(){
					modeSwitcher( elementCheck, elementParent );
				});
			});
		});
	</script>
	<script>
document.querySelector('#search').addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
	
      window.location = e.target.value
    }
});



</script>
	<script>
		jQuery(document).ready( function(){
			if( Cookies.get('feedbackSubmitted') == '1' ) {
				$('#feedback-rating').css({ opacity: 0, 'display': 'none' });
				$('#feedback-rating-submitted').css({ opacity: 1, 'display': 'block' });
			}
			// Fixed Feedback Form
			$('.fixed-feedback-button').off( 'click' ).on( 'click', function() {
				$(this).parents('.fixed-feedback').toggleClass('fixed-feedback-open');
			});

			$('#feedback-rating').find(':radio').on( 'change', function(){
				if( $('#feedback-rating').find('.form-group:not(:has(:radio:checked))').length ) {
					$('#feedback-rating-submit').parent().toggleClass('d-none', true);
				} else {
					$('#feedback-rating-submit').parent().toggleClass('d-none', false);
				}
			});

			$('#feedback-rating').on( 'formSubmitSuccess', function(){
				var formEl = $(this);
				formEl.css({ 'opacity': '0.5' });
				setTimeout(
					function(){
						formEl.parents('.fixed-feedback').toggleClass('fixed-feedback-open');
					},
				1000 );
				formEl.find('#feedback-rating-submit').parent().toggleClass('d-none', true);
				formEl.find('.btn').addClass('disabled');
				formEl.find(':radio').prop( 'disabled', true );
				Cookies.set('feedbackSubmitted', '1', { expires: 7 });
				formEl.css({ opacity: 0, 'display': 'none' });
				$('#feedback-rating-submitted').css({ opacity: 1, 'display': 'block' });
			});
		})
	</script>


</body>
</html>
      
     

   
