	
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<!-- Hotjar Tracking Code for My site -->
<style>
.fixed-feedback {
	position: fixed;
	top: 25%;
	right: -300px;
	width: 300px;
	height: auto;
	z-index: 299;
	background-color: #EEE;
	-webkit-transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: right .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-backface-visibility: hidden;
}

.fixed-feedback .fixed-feedback-button {
	position: absolute;
	left: -44px;
	color: #333;
	writing-mode: vertical-rl;
	font-size: 1rem;
	background-color: #EEE;
	padding: 15px 10px;
	cursor: pointer;
}

.fixed-feedback .fixed-feedback-form {
	opacity: 0;
	padding: 25px 30px;
	transition: opacity .3s .15s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.fixed-feedback.fixed-feedback-open { right: 0; }
.fixed-feedback.fixed-feedback-open .fixed-feedback-form { opacity: 1; }

#feedback-rating,
.feedback-rating-loader {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.feedback-rating-loader { background: transparent; }

.feedback-rating-loader > div { background-color: #999;  }

.feedback-rating-loader,
.feedback-rating-processing #feedback-rating,
#feedback-rating-submitted,
.feedback-rating-complete .feedback-rating-loader {
	display: none;
	opacity: 0;
}

.feedback-rating-processing .feedback-rating-loader,
.feedback-rating-complete #feedback-rating {
	display: block;
	opacity: 1;
}
</style>
<link rel="icon" href="/coworking/images/ofib.png">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	{% block title %}  {% endblock %}
	 {% block stylesheets %}{% endblock %}

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/bootstrap.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/style.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/dark.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/medical-icons.css')}}" type="text/css" />
		<link rel="stylesheet" href="{{ asset ('/css/font-icons.css')}}" type="text/css" />
	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="{{asset('/css/bs-switches.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ asset ('/css/font-icons.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/animate.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/magnific-popup.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ asset ('/css/responsive.css')}}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{asset('/css/custom.css')}}" type="text/css" />


	<!-- Workspace Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/articles.css" type="text/css" />
	<link rel="stylesheet" href="{{ asset ('/css/colors.php?color=267DF4')}}" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="{{ asset ('/coworking/css/fonts.css')}}" type="text/css" /> <!-- Theme Font -->
	<link rel="stylesheet" href="{{ asset ('/coworking/coworking.css')}}" type="text/css" /> <!-- Theme CSS -->
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>Coworking | Oficina </title>

</head>
        

<body class="stretched">


	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="clearfix static-sticky border-bottom-0">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index" class="standard-logo" data-sticky-logo="/coworking/images/ofi.png"><img src="/coworking/images/oficina.png" alt="Canvas Logo"></a>
						<a href="index" class="retina-logo" data-sticky-logo="/coworking/images/ofi.png"><img src="/coworking/images/oficina.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->
					

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">

						<ul>
							<li class="current"><a href="index"><div>Home</div></a>
							
								<ul>
								<li><a href="/Aboutus"><div>About Us</div></a></li>
												<li><a href="/contactus"><div>ContactUs</div></a></li>
									<li><a href="/Team"><div>Team</div></a> </li>
									
									
								</ul>
							</li>
								
							<li class="mega-menu"><a href="shop"><div>Courses</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a href="#"><div>Categories</div></a>
											<ul>
												<li><a href="/Aboutus"><div>About Us</div></a></li>
												<li><a href="/contactus"><div>ContactUs</div></a></li>
												<li><a href="about-me.html"><div>About Me</div></a></li>
												<li><a href="team.html"><div>Team Members</div></a></li>
												<li><a href="jobs.html"><div>Careers</div></a></li>
												<li><a href="side-navigation.html"><div>Side Navigation</div></a></li>
												<li><a href="page-submenu.html"><div>Page Submenu</div></a></li>
												<li><a href="sitemap.html"><div>Sitemap</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-3">
										<li class="mega-menu-title"><a href="#"><div>LiveShows</div></a>
											<ul>
												<li><a href="services.html"><div>Services - Layout 1</div></a></li>
												<li><a href="services-2.html"><div>Services - Layout 2</div></a></li>
												<li><a href="services-3.html"><div>Services - Layout 3</div></a></li>
												<li><a href="faqs.html"><div>FAQs - Layout 1</div></a></li>
												<li><a href="faqs-2.html"><div>FAQs - Layout 2</div></a></li>
												<li><a href="faqs-3.html"><div>FAQs - Layout 3</div></a></li>
												<li><a href="faqs-4.html"><div>FAQs - Layout 4</div></a></li>
												<li><a href="maintenance.html"><div>Maintenance Page</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							<li class="mega-menu"><a href="/Events"><div>Events</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title"><a href="#"><div>Grids</div></a>
											<ul>
												<li><a href="Event"><div>Register for an event</div></a></li>
												<li><a href="portfolio-2.html"><div>2 Columns</div></a></li>
												<li><a href="portfolio-3.html"><div>3 Columns</div></a></li>
												<li><a href="portfolio.html"><div>4 Columns</div></a></li>
												<li><a href="portfolio-5.html"><div>5 Columns</div></a></li>
												<li><a href="portfolio-6.html"><div>6 Columns</div></a></li>
											</ul>
										</li>
									</ul>
									
								</div>
							</li>
							<li class="mega-menu"><a href="/News"><div>News</div></a>
								
							</li>
							<li><a href="/shop"><div>Shop</div></a>
								<ul>
									<li><a href="shop"><div>4 Columns</div></a></li>
									<li><a href="shop-3.html"><div>3 Columns</div></a>
										<ul>
											<li><a href="shop-3.html"><div>Full Width</div></a></li>
											<li><a href="shop-3-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-3-left-sidebar.html"><div>Left Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-2.html"><div>2 Columns</div></a>
										<ul>
											<li><a href="shop-2-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-2-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-2-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-1.html"><div>1 Columns</div></a>
										<ul>
											<li><a href="shop-1.html"><div>Full Width</div></a></li>
											<li><a href="shop-1-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-1-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-1-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-category-parallax.html"><div>Categories - Parallax</div></a></li>
									<li><a href="shop-combination-filter.html"><div>Combination Filter</div></a></li>
									<li><a href="shop-single.html"><div>Single Product</div></a>
										<ul>
											<li><a href="shop-single.html"><div>Full Width</div></a></li>
											<li><a href="shop-single-right-sidebar.html"><div>Right Sidebar</div></a></li>
											<li><a href="shop-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
											<li><a href="shop-single-both-sidebar.html"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="cart.html"><div>Cart</div></a></li>
									<li><a href="checkout.html"><div>Checkout</div></a></li>
								</ul>
							</li>
							
							<li><a href="#">EN</a>
									<ul>
										<li><a href="#"><img src="/coworking/images/fr.png" width ="30" height ="20" alt="French"> FR</a></li>
										<li><a href="#"><img src="/coworking/images/ar.png" width ="30" height ="20" alt="Arabe"> AR</a></li>
										<li><a href="#"><img src="/coworking/images/eng.png" width ="30" height ="20" alt="English"> EN</a></li>
									</ul>
								</li>
								</li>
								
								{% if is_granted('ROLE_ADMIN') %}
								<li class="mega-menu"><a href="/admin"><div>ADMIN</div></a> </li>
								<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
								<li><a href="mega-menu"><div>Students Lists </div></a>
								<ul>
								{% for art in list %}
									<li><a href="{{ path('list', {'slug': art.slug })}}"><div>{{art.slug }} Students</div></a></li>
									{% endfor %}
									
									
									
									
								</ul>
							</li>
							

							{% endif %}
							
								{% if is_granted('ROLE_TEACHER') %}
								
								<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
								<li><a href="mega-menu"><div>Students Lists </div></a>
								<ul>
								{% for art in list %}
									<li><a href="{{ path('list', {'slug': art.slug })}}"><div>{{art.slug }} Students</div></a></li>
									{% endfor %}
									
									
									
									
								</ul>
							</li>
							

							{% endif %}
							{% if is_granted('ROLE_ABONNE') %}
							<li class="mega-menu"><a href="/schedule"><div>Schedule</div></a> </li>
							
{% endif %}
	
						</ul>

					<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>{{ totalq }}</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
								
								<div class="top-cart-items">
								 {% for item in items %}
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="{{ asset("uploads/avatars/" ~ item.article.thumbnail) }}" alt="Blue Round-Neck Tshirt" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">{{ item.article.slug}} Training</a>
											<span class="top-cart-item-price">{{ item.article.price }}</span>
											<span class="top-cart-item-quantity">x {{ item.quantity }}</span>
										</div>
									</div>
									{% endfor %}
									</div>
								<div class="top-cart-action clearfix">
									<span class="fleft top-checkout-price">{{ total }} DT</span>
									<button class="button button-3d button-small nomargin fright" href="Cart">View Cart</button>
								</div>
						
								
							</div>
						</div>	
						<!-- #top-cart end --> 
					

									

							<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form >
								<input type="text" id="search" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->
						
						
<div class="modal1 mfp-hide" id="modal-register">
			<div class="card divcenter" style="max-width: 540px;">
				<div class="card-header py-3 nobg center">
					<h3 class="mb-0 t400">Welcome to Oficina ! </h3>
				</div>
				<div class="card-body divcenter py-5" style="max-width: 70%;">

					<a href="{{ path('connect_facebook_start') }}" class="button button-large btn-block si-colored si-facebook nott t400 ls0 center nomargin"><i class="icon-facebook-sign"></i> Log in with Facebook</a>
					<a href="#" class="button button-large btn-block si-colored si-gmail nott t400 ls0 center nomargin"><i class="icon-google-plus-sign"></i> Log in with Gmail</a>
					
					
					

					<div class="divider divider-center"><span class="position-relative" style="top: -2px">OR</span></div>

					<form id="login-form" name="login-form" class="nobottommargin row" action="{{ path('app_login')}}" method="post">
					

						<div class="col-12">
							<input type="text" id="login-form-username" name="_username" value="" class="form-control not-dark" placeholder="Username" />
						</div>

						<div class="col-12 mt-4">
							<input type="password" id="login-form-password" name="_password" value="" class="form-control not-dark" placeholder="Password" />
						</div>

						<div class="col-12">
							<a href="#" class="fright text-dark t300 mt-2">Forgot Password?</a>
						</div>

						<div class="col-12 mt-4">
				
			
				
				
				<button class="button btn-block nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						 
				
						
						</div>
					</form>
				</div>
				<div class="card-footer py-4 center">
					<p class="mb-0">Don't have an account? <a href="register"><u>Sign up</u></a></p>
				</div>
			</div>
		</div>
			{% if app.user %}
			{% if is_granted('ROLE_ADMIN') %}
		<div id="top-account" class="dropdown">
						<a href="#" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user-secret"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item tleft" href="profile">Profile</a>
							
							<a class="dropdown-item tleft" href="/profil">Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item tleft" href="logout">Logout <i class="icon-signout"></i></a>
						</ul>
					</div>
					{% elseif is_granted('ROLE_TEACHER') %}
						
						<div id="top-account" class="dropdown">
						<a href="#" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user-tie"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item tleft" href="profile">Profile</a>
							
							<a class="dropdown-item tleft" href="/profil">Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item tleft" href="logout">Logout <i class="icon-signout"></i></a>
						</ul>
					</div>
					{% elseif is_granted('ROLE_ABONNE') %}
					
						<div id="top-account" class="dropdown">
						<a href="#" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user-alt"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item tleft" href="profile">Profile</a>
							
							<a class="dropdown-item tleft" href="/profil">Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item tleft" href="logout">Logout <i class="icon-signout"></i></a>
						</ul>
					</div>
{% else %}
<div id="top-account" class="dropdown">
						<a href="#" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user-alt"></i></a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item tleft" href="profile">Profile</a>
							
							<a class="dropdown-item tleft" href="/profil">Settings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item tleft" href="logout">Logout <i class="icon-signout"></i></a>
						</ul>
					</div>
					{% endif %}

{% else %}
	
		

	
<div id="top-account">
							<a href="#modal-register" data-lightbox="inline" ><i class="icon-line2-user mr-1 position-relative" style="top: 1px;"></i><span class="d-none d-sm-inline-block font-primary t500">Login</span></a>
						</div>
						{% endif %}
					
						</div>

					</nav><!-- #primary-menu end -->


				</div>
			


			</div>


		</header><!-- #header end -->
		
    <!-- Default panel contents -->
							<div class="card-header"><h1> List of {{articles.slug}} Training Students </h1> </div>
							<div class="card-body">
								<p class="card-text"></p>
							</div>

							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										
										<th>Name</th>
										<th>Email</th>
										<th>Username</th>
                                        <th> Phone </th>
									
									</tr>
								</thead>
								<tbody>
                               
                                {% for user in users %}
                               
							{% if 'ROLE_ABONNE_'~articles.slug in user.roles %}

                                        <tr>
										<th>{{user.name}}</th>
										<th>{{user.email}}</th>
										<th>{{user.username}}</th>
                                        <th>{{user.Phone}}</th>
										{% if is_granted('ROLE_ADMIN') %}
										<th class="cart-product-remove">
										<a href="{{ path('list_remove', {'id': user.id})}}" class="remove" title="Modify this student "><i class="i-rounded icon-cog"></i></a>
									</th> {% endif %}

									</tr>
                                 {% endif %} 
                                 
								{% endfor %}
                                 
                                 
							
                                
                               
								</tbody>
							</table>
						</div>

						<div class="line"></div>

						<div class="card">
                        	<!-- Footer
		============================================= -->
		<footer id="footer" class="noborder" style="background-color: #155BBC; padding-top: 80px">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap dark pb-5 clearfix">

					<div class="row">

						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Features</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Help Center</a></li>
									<li class="mb-2"><a href="#">Paid with Moblie</a></li>
									<li class="mb-2"><a href="#">Status</a></li>
									<li class="mb-2"><a href="contact_us">Contact Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Support</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="index">Home</a></li>
									<li class="mb-2"><a href="#">About</a></li>
									<li class="mb-2"><a href="#">FAQs</a></li>
									<li class="mb-2"><a href="#">Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Trending</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Shop</a></li>
									<li class="mb-2"><a href="#">Courses</a></li>
									<li class="mb-2"><a href="#">Events</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Get to Know us</h4>

								<ul class="list-unstyled ml-0">
									<li class="mb-2"><a href="#">Corporate</a></li>
									<li class="mb-2"><a href="#">Agency</a></li>
									<li class="mb-2"><a href="#">eCommerce</a></li>
									<li class="mb-2"><a href="#">Personal</a></li>
								</ul>

							</div>
						</div>

						<div class="col-lg-4 col-md-4">
							<div id="instagram" class="widget clearfix">

								<h4 class="ls0 mb-4 nott text-white">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-5" data-user="5834720953" data-count="15" data-type="user"></div>

							</div>
						</div>

						<div class="line"></div>

						<div class="row">
							<div class="col-sm-3">
								<a href="index"><img src="/coworking/images/logo-footer.png" alt="Logo Footer" class="mb-4" height="20"></a>
								<p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="#" class="social-icon si-small si-light si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-github" title="Github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>
								<a href="#" class="social-icon si-small si-light si-instagram" title="instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
							</div>
							<div class="col-sm-9">
								<ul class="list-numbers">
									<li class="text-white-50 t300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatum corporis, repellat assumenda, cumque labore nam fuga deserunt harum, magni asperiores iure? Quos nobis molestiae dolorum obcaecati ad omnis, sint.</li>
									<li class="text-white-50 t300 mb-0">Completely embrace real-time systems whereas fully tested schemas. Synergistically actualize state of the art functionalities vis-a-vis cross-platform data. Conveniently reinvent web-enabled bandwidth via cost effective e-tailers. Proactively engage compelling outsourcing after virtual synergy. Distinctively formulate granular.
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>

			</div>
			

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg dark pt-0">

				<div class="line mt-0"></div>

				<div class="container clearfix">

					<div class="row">
						<div class="col-12">
							<p class="mb-2 text-white-50">Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.</p>
							<div class="copyright-links text-white-50"><a href="#" class="text-white-50">Terms of Use</a> / <a href="#" class="text-white-50">Privacy Policy</a></div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->
	<div class="fixed-feedback">
		<div class="fixed-feedback-button">Feedback</div>
		<div class="fixed-feedback-form form-widget" style="min-height: 100px;">
			<div class="form-result"></div>
			<div class="feedback-rating-loader css3-spinner" style="position: absolute; z-index:auto;">
				<div class="css3-spinner-bounce1"></div>
				<div class="css3-spinner-bounce2"></div>
				<div class="css3-spinner-bounce3"></div>
			</div>
			<div id="feedback-rating-submitted" class="center">
				<img class="mb-3" src="/coworking/checked.svg" alt="" width="42">
				<p class="lead nobottommargin">We have already received your Feedback!</p>
			</div>
			<form class="row m-0" id="feedback-rating" action="/coworking/form.php" method="post">
				<div class="form-process"></div>
				<div class="col-12">
					<div class="form-group">
						<label>Ease of Use:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ease" id="feedback-rating-ease-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>UX Design:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-ux-design" id="feedback-rating-ux-design-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Functionality:</label>
						<div class="btn-group btn-group-sm btn-group-toggle d-flex" data-toggle="buttons">
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-1" value="Terrible"><i class="icon-sad-cry1"></i>
							</label>
							<label class="btn btn-outline-danger ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-2" value="Bad"><i class="icon-frown1"></i>
							</label>
							<label class="btn btn-outline-warning ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-3" value="Average"><i class="icon-meh1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-4" value="Good"><i class="icon-smile1"></i>
							</label>
							<label class="btn btn-outline-success ls0 nott">
								<input type="radio" name="feedback-rating-functionality" id="feedback-rating-functionality-5" value="Awesome"><i class="icon-grin-beam1"></i>
							</label>
						</div>
					</div>
				</div>
				<div class="col-12 hidden">
					<input type="text" id="feedback-rating-botcheck" name="feedback-rating-botcheck" value="" />
				</div>
				<div class="col-12 d-none">
					<button type="submit" name="feedback-rating-submit" id="feedback-rating-submit" class="btn btn-secondary">Submit</button>
				</div>

				<input type="hidden" name="prefix" value="feedback-rating-">
			</form>
		</div>
	</div>

	

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
	  {% block body %}{% endblock %}
 {% block javascripts %}{% endblock %}
	<!-- External JavaScripts
	============================================= -->
	<script src="{{ asset('/js/jquery.js')}}"></script>
	<script src="{{ asset('/js/plugins.js')}}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

<script>
document.querySelector('#search').addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
	
      window.location = e.target.value
    }
});



</script>
</body>
</html>
      
     

